<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette tâche ?');">
    <button class="badge text-bg-danger py-2 fs-6 border-0"><i class="fas fa-trash"></i></button>
</form>
