{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche - ToDo & Co{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="text-center fs-1 mt-5 mb-5">Ajouter une nouvelle tâche</h1>

        <div class="col-12 col-md-6 offset-md-3">
            <div class="text-center border shadow rounded-4 p-4 mb-5">
                {{ include('task/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
